/* STRUCTURE DE LA PAGE */ 
body{
    font-family: 'Raleway', sans-serif;
}

#contenant_page {
    width: 90%;
    margin: auto;
}

.normal_text{
    font-size: 0.8em;
}

/*MISE EN PAGE HEADER*/

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#logo_reservia img {
    width: 80px;
    height: auto;
}

/*NAVIGATION*/

nav ul {
    list-style-type: none;
    display: flex;
}

nav li{
    margin-left: 40px;
}

nav a {
    font-size: 1.1em;
    text-decoration: none;
    font-style: normal;
}

.hebergement {
    color: #0065FC;
}

.activites {
    color: grey;
}

.inscription {
    color: #0065FC;
    font-weight: bold;    
}

/*CHAMP DE RECHERCHE*/

#titre_un {
    font-size: 1.1em;
    padding-top: 25px;
}

.barre_recherche {
    display: flex;
    align-items: initial;
    justify-content: flex-start;
    height: 35px;
}

.recherche {
    display: flex;
    border: none;
}

#bouton_recherche {
    display: flex;
    width: 100px;
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
}

.location {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #F2F2F2;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    padding-top: 8px;
}

/* FILTRES RECHERCHE */

#filters_contain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.ensemble_filtre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter_selection{
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    align-items:baseline;
    text-align: center;
}

.filter_selection a{
    text-decoration: none;
    color: black;
}

.filter_selection p{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
}

.fa-heart, .fa-dog, .fa-child, .fa-money-bill{
    color: #0065FC;
    margin-top: 15px;
}

.filter_icon{
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #deebff;
    border-radius: 50px;
    position: absolute;
    margin-top: 15px;
}

/*INFOS HEBERG LEGENDE */

.info_heberg{
    display: flex;
    align-items: baseline;
}

.info_heberg p{
    padding-left: 30px;
}

.fa-info{
    color: #0065FC;
}

.logo_info{
    display: inline-block;
    position: relative;
    border: 2px #d9d9d9;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    margin-top: 15px;
}

/*SECTION HERBERGEMENT ET POPULAIRE*/

.main_conteneur{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#conteneur_hebergement{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: 100%;
}

#titre_deux{
    font-size: 1.1em;
    padding-left: 30px;
    padding-top: 5px;
}

.contenant_hotels{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    margin: auto;
    padding-left: 10px;
}

.heberg{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px #d9d9d9 solid;
    border-radius: 20px;
    width: auto;
    margin: 2%;
    height: auto;
    padding-bottom: 10px;
}

.heberg img{
    width: 210px;
    height: 100px;
    border: 5px white solid;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hotel_title, .title_activity, .footer_title{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.tarif_nuit{
    color: black;
    margin-left: 10px;
    font-size: 0.9em;
    margin-top: -12px;
}

.afficher{
    font-weight: bold;
    font-size: 0.9em;
    height: 10%;
    padding-left: 30px;
}

.stars{
    margin-top: -12px;
    padding-left: 10px;
}

.fa-star{
    color: #0065FC;
    font-size: 0.7em;
    width: 1px;
    margin-right: 10px;
}

.fa-star-grey{
    color: #d9d9d9;
}

.legende_heberg a{
    text-decoration: none;
    color: black;
}

/*POPULAIRES*/

#conteneur_populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: auto;
}

.conteneur_titre_logo{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.logo_populaire{
    position: relative;
    margin-top: 20px;
}

.bloc_populaire{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80%;
    margin-bottom: 15px;
}

.bloc_hotel{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 85%;
    height: 30%;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    border: 1px #d9d9d9 solid;
}

.bloc_hotel img{
    width: 100px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid white;
}

.hotel_text{
    width: 150px;
    padding-top: 8px;
}

.stars_populaire{
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.hotel_text a{
    text-decoration: none;
}

/* ACTIVITES A MARSEILLE*/

#titre_quatre{
    font-size: 1.1em;
    margin-top: 50px;
    color: black;
}

.conteneur_activites{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -32px;
}

.colonne{
    width: 22%;
}

.conteneur_activites img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.activite{
    border: 1px solid #d9d9d9;
    background-color: white;
    border-radius: 15px;
    width: 100%;
}

.activite a{
    text-decoration: none;
    color: black;
}

.vieux_port, .parc_calanques{
    height: 450px;
}

.fort_pomegues{
    height: 200px;
}

.activitefrioul{
    margin-top: 49px;
}

.ile_frioul{
    height: 150px;
}

.colonne_deux{
    height: 350px;
}

.notre_dame{
    height: 180px;
}

.parc_longchamp{
    height: 160px;
}

.parclongchamp{
    margin-top: 59px;
}

/*FOOTER*/

.contain_footer{
    display: flex;
    justify-content: flex-start;
    height: 250px;
    background-color: #F2F2F2;
    margin-top: 100px;
}

.bloc_footer{
    margin-top: 50px;
    margin-left: 70px;
    width: 350px;
}

.contain_footer ul{
    list-style-type: none;
    margin-left: -28px;
}

.bloc_footer a{
    text-decoration: none;
    font-style: normal;
    color: black;
}

.bloc_footer li{
    margin-top: 10px;
}

/*HOVER PAGE*/

figure{
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

figure:hover{
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

.bloc_hotel{
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;    
}

.bloc_hotel:hover{
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

nav a:hover{
    border-top: 1px solid #0065FC;
    padding-top: 18px;
}

.filter_selection:hover{
    opacity: 0.5;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 1024px)
{
    #contenant_page {
        width: 100%;
        margin: auto;
    }

    header{
        width: 90%;
    }

    #logo_reservia img {
        width: 250px;
    }

    /*RECHERCHE*/

    #titre_un{
        font-size: 3em;
    }

    .normal_text{
        font-size: 1.1em;
    }

    #champ_recherche{
        width: 90%;
        margin: auto;
    }

    /*FILTRES*/
    
    #filters_contain{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_conteneur{
        display: flex;
        flex-direction: column-reverse;
    }

    .title_filtres{
        font-size: 2.5em;
    }

    .ensemble_filtre{
        font-size: 2em;
    }

    .fa-heart, .fa-dog, .fa-child, .fa-money-bill{
        margin-top: 20px;
    }

    .filter_icon{
        width: 80px;
        height: 80px;
        margin-top: 32px;
    }

    .filter_selection p{
        border-radius: 40px;
        padding: 20px;
        padding-left: 100px;
    }

    /*HEBERGEMENT IPHONE 8*/

    #titre_deux{
        font-size: 3em;
        padding-left: 30px;
        padding-top: 5px;
    }

    .main_conteneur{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    #conteneur_hebergement{
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }
    
    .contenant_hotels{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
    }
    
    .heberg{
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: auto;
        width: 90%;
    }

    .heberg img{
        width: auto;
        height: 210px;
    }

    .tarif_nuit{
        font-size: 1.8em;
    }

    .fa-star{
        font-size: 1.8em;
        margin-right: 3%;
    }

    /*HEBERGEMENTS POPULAIRES*/

    .hotel_title, .title_activity, .footer_title{
        font-size: 2em;
    }

    #conteneur_populaire{
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px;
        height: auto;
    }

    .bloc_hotel{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        height: 210px;
        margin: auto;
    }

    .hotel_text{
        width: 100%;
        padding-top: 8px;
    }

    .titre_trois{
        font-size: 3em;
    }

    .conteneur_titre_logo{
        margin: auto;
        width: 92%;
    }

    .bloc_hotel img{
        width: 40%;
    }

    .stars_populaire{
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .stars_populaire .fa-star{
        margin-left: 10px;
    }

    /*ACTIVITES*/

    .conteneur_activites{
        display: flex;
        flex-direction: column;
    }

    .colonne{
        margin: auto;
        width: 90%;
    }

    .conteneur_activites img{
        height: 210px;
    }

    #titre_quatre{
        font-size: 3em;
        margin-left: 30px;
    }

    /*FOOTER*/

    .contain_footer{
        flex-direction: column;
        height: auto;
    }

}
